body {
    background: #005eb8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.asthmaInfo,
.asthmaInfo * {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.asthmaInfo {
    width: 350px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.asthmaInfo-container {
    background: #ffffff;
    padding: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: #003087;
    font-size: 25px;
}

.dropdown {
    position: relative;
}

.button {
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    color: #ffffff;
    background: #0072ce;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    z-index: 1;
    border: 1px solid #003087;
    border-radius: 5px;
}

.dropdown-content a {
    color: #003087;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 19px;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.show {
    display: block;
}

.disease {
    display: none;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 0px;
    text-align: center;
    color: #003087;
}

.disease h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.topnav {
    background-color: #005eb8;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    background-color: #005eb8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

fieldset {
    text-align: left;
    font-size: 19px;
}

fieldset legend {
    font-weight: bold;
}

.asthmaInfo-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #ffffff;
    background: #0072ce;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.asthmaInfo-button:active {
    background: #003087;
}