body {
    background: #005eb8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.clinicianHome,
.clinicianHome * {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.clinicianHome {
    width: 350px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.clinicianHome-container {
    background: #ffffff;
    padding: 20px;
}

.clinicianHome-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #003087;
    background: #ffffff;
}

.clinicianHome-input:focus {
    border-color: #8393F7;
}

.clinicianHome-input::placeholder {
    color: #aaaaaa;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: #003087;
    font-size: 25px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #003087;
    font-size: 20px;
}

fieldset{
    color: #003087;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 19px;
}

fieldset legend {
    font-weight: bold;
}

.clinicianHome-button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #0072ce;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.clinicianHome-button:active {
    background: #003087;
}

.topnav {
    background-color: #005eb8;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    background-color: #005eb8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}